* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;


    background: linear-gradient(135deg, #7fd7ff, #cbefff);

    display: flex;
    justify-content: center;
    align-items: center;
}


.page {
    width: 100%;
    padding: 30px;
}


.card {
    max-width: 650px;
    margin: auto;


    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.6);

    padding: 30px;

    box-shadow:
        0 25px 45px rgba(0, 0, 0, 0.15),
        inset 0 0 15px rgba(255, 255, 255, 0.35);

    animation: fadeUp 0.6s ease;
}


@keyframes fadeUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.main-title {
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #003f6b;
}


label {
    font-weight: 600;
    margin-top: 12px;
    display: block;
    color: #003f6b;
}


input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;

    border-radius: 10px;
    border: 1.5px solid rgba(0, 100, 180, 0.3);

    background: rgba(255, 255, 255, 0.7);
    outline: none;

    transition: 0.2s;
}

input:focus, select:focus, textarea:focus {
    border-color: #3399ff;
    background: rgba(255, 255, 255, 0.9);
}


.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #0077b6;
}

.input-icon input {
    padding-left: 35px;
}

textarea {
    resize: none;
    height: 70px;
}


.row {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.row > * {
    flex: 1;
}


.gender {
    display: flex;
    gap: 20px;
    margin-top: 6px;
    color: #003f6b;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;

    border-radius: 12px;
    border: none;

    background: linear-gradient(135deg, #3399ff, #66ccff);
    color: white;

    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: translateY(-1px);
}

button:disabled {
    background: rgba(150, 180, 210, 0.7);
    cursor: not-allowed;
}


small {
    color: #d00000;
    font-size: 12px;
}

input.error, select.error, textarea.error {
    border-color: #d00000;
}


.top-error {
    text-align: center;
    font-weight: bold;
    color: #d00000;
    margin-bottom: 10px;
}


.success {
    text-align: center;
    color: #006400;
    font-weight: bold;
    margin-top: 15px;
}


.strength {
    font-size: 13px;
    margin-top: 5px;
    font-weight: bold;
}


@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}